#language: cpp
#compiler: clang

sudo: required
dist: precise
#dist: trusty

#language: cpp

matrix:
  include:
#    - compiler: gcc
#      addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#          packages:
#            - g++-4.9
#      env: COMPILER=g++-4.9
#    - compiler: gcc
#      addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#          packages:
#            - g++-5
#      env: COMPILER=g++-5
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - clang-3.6
      env:
        global:
          - CXX='clang++-3.6'
          - CXXFLAGS='-std=c++11 -stdlib=libc++'
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - clang-3.7
      env:
        global:
          - CXX='clang++-3.7'
          - CXXFLAGS='-std=c++11 -stdlib=libc++'

before_install:
  - sudo apt-get update -qq

script: make && make test
